<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">Inicioe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/registrar">Registrar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/retirar">Retirar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/depositar">Depositar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/consultar">Consultar</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>              
